<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ Title }}</title>

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"> -->

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"> -->

    <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    -->
    
    <!-- <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" /> -->

    <!-- <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.20.3.min.css" /> -->

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.8.1.min.css"/> --> 

    <!-- <link rel="stylesheet" href=" https://cdn.rawgit.com/Kimeiga/kacit/b3f813ed/kacit.min.css"/> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
   
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->


    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body class="container-fluid">

    <article>
        
        <header>
            <h1>Wiki Biorégions</h1>
        </header>

        {% include "nav.html" %}
        <hr>
        
        <main>
            {% block content %}{% endblock %}
        </main>

    </article>
</body>
</html>
